<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Comp Time</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
</head>
<body class="bg-dark">
<form action="{{ url_for('view_Comp_Time', employee = employee_name)}}" enctype=multipart/form-data method="POST">


    <div class="container bg-info">
        <div class="row pb-5">
            <div class="text-center display-1 pb-5">View Comp Time</div>
            <div class="col-lg text-center">
                <button class="btn btn-success" onclick="print()">Print Log</button>
            </div>
            <div class="col-sm text-center">
                <button class="btn btn-dark" type="submit">Return Home</button>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <table class="table table-sm table-dark">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Available Hours</th>
                    </tr>
                    <tr>
                        <td>{{ employee_name }}</td>
                        <td>32</td>
                    </tr>
                    </thead>
                </table>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col"></div>
            <div class="col-lg-auto text-center">
                {% include 'Account_History.html' %}
            </div>
            <div class="col"></div>

        </div>


        <div class="row">
            <div class="col text-center">

            </div>

        </div>
    </div>
</form>

<div class="row mt-3">

    <div class="col text-center">

    </div>
</div>



</body>
</html>